<div class="answerDetailPage">
  <div class="kidAnswer">
    <img src="http://shanaschutte.com/wp-content/uploads/2015/09/the-one-question-that-changes.jpg" alt="" />
  </div>
  <h3>{{answer.author}} says: {{answer.title}} Don't like that answer?
  <button {{action 'delete' answer}}>Delete it!</button></h3>
  <button {{action 'addBookmark' answer.title}}>Add bookmark</button>
</div>
