<div class="questionTilePage">
  <div class="kidQuestion">
    <img src="https://cumuloquoise.files.wordpress.com/2014/09/kid-asking-questions.jpg" alt="" />
  </div>
  <ul>
    {{#each sortedAnswers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </ul>
  <br>
  <button {{action 'delete' question}}>Delete the Question</button>
</div>
