<div class="questionTilePage">
  <ul>
    {{#each question.answers  as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </ul>
  <br>
  <button {{action 'delete' question}}>Delete</button>
</div>
