// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}


/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url('http://previews.123rf.com/images/tupungato/tupungato0803/tupungato080300013/2678515-Vintage-grunge-wall-background-abstract-Urban-decay-texture-Building-detail--Stock-Photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // max-width: 1328px;
  height: 150vh;
}

ul, ol {
  list-style: none;
}
