<div class="aboutPage">
  <h2>About Ask Anything</h2>
  <br>
  <p>The Ask Anything website was created to give people opportunites to ask intruging questions and others can give thier entruging answer!</p>
</div>
