<div class="jumbotron">
  <div class="container">
    <h1>Find answers to your questions . . . or questions to answer.</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="content row">
    <div class="col col-sm-3 questions">
      <a href="#"><img src="http://michaelruguleiski.com/wp-content/uploads/2014/01/Kid-raising-hand.jpg" alt="" /></a>
      <h4>Got Questions?</h4>
      {{new-question saveQuestion2="saveQuestion3"}}
    </div>

    <div class="col col-sm-6 answers">
      <a href="#"><img src="http://cdn.theatlantic.com/assets/media/img/2014/07/14/opener_v02-2/1920.jpg?1440086868" alt="People want to know" /></a>
      <h4> People Want to Know </h4>
      <ul>
        {{#each model.questions as |question|}}
          <li>
            {{#link-to 'question' question.id}}{{question.title}}{{/link-to}}
              <ul>
                {{#each question.answers  as |answer|}}
                  {{answer-tile answer=answer}}
                {{/each}}
              </ul>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="col col-sm-3 bookmarks">
      <a href="#"><img src="http://maescomadres.com.br/wp-content/uploads/2014/09/crian%C3%A7a-trise.jpg" alt="" /></a>
      <h1>Bookmarks</h1>
      {{display-bookmark}}
    </div>
  </div>
</div>
