<div class="questionForm">
  <h1>{{model.title}}</h1>
  <br>
  {{question-tile question=model destroyQuestion="destroyQuestion"}}
  <br>
  {{update-question question=model update="update"}}
  <br>
  {{new-answer saveAnswer2="saveAnswer3" question=model}}
</div>
