<div class="questionForm">
  <h2>{{model.title}}</h2>
  <br>
  {{question-tile question=model destroyQuestion="destroyQuestion"}}
  <br>
  {{new-answer saveAnswer2="saveAnswer3" question=model}}
  {{!-- <br>
  {{update-question question=model update="update"}} --}}
</div>
